# Dependências
node_modules/
server/node_modules/

# Arquivos temporários
*.tmp
*.log

# Diretórios do sistema
.DS_Store
Thumbs.db

# Banco de dados do servidor
server/keys-db.json
server/users-db.json

# Variáveis de ambiente
.env
